{% load static %}
<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
  <head>
    <title>Home</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, height=device-height, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link
      rel="icon"
      href='{% static "images/favicon.ico" %}'
      type="image/x-icon" />
    <link
      rel="stylesheet"
      type="text/css"
      href="//fonts.googleapis.com/css?family=Montserrat:400,700%7CLato:300,300italic,400,400italic,700,900%7CPlayfair+Display:700italic,900" />
    <link rel="stylesheet" href='{% static "css/bootstrap.css" %}' />
    <link rel="stylesheet" href='{% static "css/fonts.css" %}' />
    <link rel="stylesheet" href='{% static "css/style.css" %}' />

    <style>
      .about_container {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .about_container > * {
        flex: 1;
      }

      .about_image {
        max-width: 50%;
      }

      about_img {
        max-width: 100%;
        max-height: 100%;
      }
    </style>
   
  </head>
  <body>
    <div class="preloader">
      <!-- <div>
        <a class="brand brand-md" href="index.html"
          ><img
            src='{% static "images/Nanaheal.png" %}'  style="background-size: cover; width: 139px; height: 100px;"
            alt=""
           
        /></a>
        <div class="page-loader-body">
          <div id="spinningSquaresG">
            <div class="spinningSquaresG" id="spinningSquaresG_1"></div>
            <div class="spinningSquaresG" id="spinningSquaresG_2"></div>
            <div class="spinningSquaresG" id="spinningSquaresG_3"></div>
            <div class="spinningSquaresG" id="spinningSquaresG_4"></div>
            <div class="spinningSquaresG" id="spinningSquaresG_5"></div>
            <div class="spinningSquaresG" id="spinningSquaresG_6"></div>
            <div class="spinningSquaresG" id="spinningSquaresG_7"></div>
            <div class="spinningSquaresG" id="spinningSquaresG_8"></div>
          </div>
        </div>
      </div> -->
    </div>

    <div class="page">
      <header class="page-head">
        <div class="rd-navbar-wrap">
          <nav
            class="rd-navbar rd-navbar-default"
            data-layout="rd-navbar-fixed"
            data-sm-layout="rd-navbar-fixed"
            data-md-layout="rd-navbar-fixed"
            data-md-device-layout="rd-navbar-fixed"
            data-lg-layout="rd-navbar-static"
            data-lg-device-layout="rd-navbar-fixed"
            data-xl-layout="rd-navbar-static"
            data-xl-device-layout="rd-navbar-static"
            data-xxl-layout="rd-navbar-static"
            data-xxl-device-layout="rd-navbar-static"
            data-lg-stick-up="true"
            data-xl-stick-up="true"
            data-xxl-stick-up="true"
            data-lg-stick-up-offset="60px"
            data-xl-stick-up-offset="60px"
            data-xxl-stick-up-offset="60px">
            <div class="rd-navbar-inner">
              <div class="rd-navbar-panel">
                <button
                  class="rd-navbar-toggle"
                  data-custom-toggle=".rd-navbar-nav-wrap"
                  data-custom-toggle-disable-on-blur="true">
                  <span></span>
                </button>
              </div>
              <div class="rd-navbar-group rd-navbar-search-wrap">
                <div class="rd-navbar-nav-wrap">
                  <div class="rd-navbar-nav-inner">
                    <div class="rd-navbar-search">
                      <form
                        class="rd-search"
                        action="#"
                        method="GET"
                        data-search-live="rd-search-results-live">
                        <div class="form-wrap">
                          <label class="form-label" for="rd-search-form-input"
                            >Search...</label
                          >
                          <input
                            class="form-input"
                            id="rd-search-form-input"
                            type="text"
                            name="s"
                            autocomplete="off" />
                          <div
                            class="rd-search-results-live"
                            id="rd-search-results-live"></div>
                        </div>
                        <button class="rd-search-submit" type="submit"></button>
                      </form>
                    </div>
                    <ul class="rd-navbar-nav">
                      <li class="rd-nav-item active">
                        <a class="rd-nav-link" href="/">Home</a>
                      </li>
                      <li class="rd-nav-item">
                        <a class="rd-nav-link" href="#about">About us</a>
                      </li>
                     
                      <li class="rd-nav-item">
                        <a class="rd-nav-link" href="#contact">Contact us</a>
                      </li>
                    </ul>
                  </div>
                </div>
                
              </div>
            </div>
          </nav>
        </div>
      </header>
      <section
        class="swiper-container swiper-slider swiper-variant-1 bg-black"
        data-autoplay="5500"
        data-simulate-touch="true"
        data-swiper='{"loop":false}'>
        <div class="swiper-wrapper text-center">
          <div
            class="swiper-slide"
            data-slide-bg='{% static "images/IMG_3031.jpg" %}'  style="background-size: cover; width: 100%; height: 626px; ">
            <div class="dim-overlay" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.5);"></div>
            <div class="swiper-slide-caption">
              <div class="container">
                <div class="row justify-content-md-center">
                  <div class="col-md-11 col-lg-10 col-xl-9">
                    <h2
                      class="slider-header"
                      data-caption-animate="fadeInUp"
                      data-caption-delay="0s">
                      NanaHeal Enterprise

                    </h2>
                    <p
                      class="text-bigger slider-text"
                      data-caption-animate="fadeInUp"
                      data-caption-delay="100"
                      style="color: white;">
                      We help communities manage waste, especially pineapple peels. The collected peels are our raw materials.
.
                    </p>
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="swiper-slide"
            data-slide-bg='{% static "images/IMG_3041.jpg" %}'  style="background-size: cover; width: 1920px; height: 626px;">
            <div class="dim-overlay" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.5);"></div>
            <div class="swiper-slide-caption">
              <div class="container">
                <div class="row justify-content-md-center">
                  <div class="col-md-11 col-lg-10 col-xl-9">
                    <h2
                      class="slider-header"
                      data-caption-animate="fadeInUp"
                      data-caption-delay="0s">
                      The Future Is Now, For The People & The Planet

                    </h2>
                    <p
                      class="text-bigger slider-text"
                      data-caption-animate="fadeInUp"
                      data-caption-delay="100">
                      By transforming pineapple peels into useful products, we contribute to waste management efforts while also supporting local economies..
                    </p>
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="swiper-slide"
            data-slide-bg='{% static "images/IMG_3052.jpg" %}'  style="background-size: cover; width: 1920px; height: 626px;">
            <div class="dim-overlay" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.5);"></div>
            <div class="swiper-slide-caption">
              <div class="container">
                <div class="row justify-content-md-center">
                  <div class="col-md-11 col-lg-10 col-xl-9">
                    <h2
                      class="slider-header"
                      data-caption-animate="fadeInUp"
                      data-caption-delay="0s">
                      Transforming Waste into Valuable Resources                    </h2>
                    <p
                      class="text-bigger slider-text"
                      data-caption-animate="fadeInUp"
                      data-caption-delay="100">
                      We strive to empower communities in responsibly managing waste by showcasing the potential of pineapple peels as a renewable resource. Through our initiatives, we highlight how these peels can be transformed into valuable products, benefiting both individuals and the environment..
                    </p>
                    
                    </div>
                    <div class="swiper-scrollbar"></div>
                      <div class="swiper-nav-wrap">
                      <div class="swiper-button-prev"></div>
                      <div class="swiper-button-next"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section id="about" >
        <div class="row justify-content-md-center"  >
          <div class="col-md-11 col-lg-10 col-xl-9 text-center" >
            <h3>
              <span>About Us</span>
            </h3>
        <div class="about_container">
          
          <div class="about_image">
            <img src='{% static "images/IMG_3052.jpg" %}' />
          </div>
          <div class="about_text">
            <p class="text-secondary"style = 'font-size: 15px;   padding-left: 20px;'>
            
              Our Community in Kenya faces the challenge of waste management and dumpsite proximity.Due to the
              unhygienic environment, people are exposed to diseases such as Cholera, Asthma, Diarrhea, Dengue Fever,
              Food poisoning, and stomach flu.</p>
                <p class="text-secondary"style = 'font-size: 15px;   padding-left: 20px;'> Cholera in the year 2023, killed more than 4300 people globally. It has 1.3 to 4.0 million cases of infection
                  annually across the world.</p>
                <p class="text-secondary"style = 'font-size: 15px;   padding-left: 20px;'>Asthma has accounted for over 300 million cases of infection annually across the world. An additional 100
                  million people are projected to be at risk of infection. </p>
                <p class="text-secondary"style = 'font-size: 15px;   padding-left: 20px;'>Diarrhea is the third leading cause of death in children 1- 59 months of age. 443,832 children under 5 years
                  die annually from diarrhea globally. Each year, 1.7 billion cases of childhood diarrhea are reported globally.
                  It is the leading cause of malnutrition in children under the age of 5 years. 1200 kids die daily globally. </p> 
                <p class="text-secondary"style = 'font-size: 15px;   padding-left: 20px;'> Dengue Fever has surged from 500,000 cases to more than 4.2 million cases in only 2 decades globally.</p> 
                <p class="text-secondary"style = 'font-size: 15px;   padding-left: 20px;'>Stomach flu accounts for 200 million child infection cases and 50,000 deaths annually. </p> 
                <p class="text-secondary"style = 'font-size: 15px;   padding-left: 20px;'> Food poisoning has over 600 million cases yearly with 420,000 deaths reported annually.</p> 
 
            </p>
          </div>
        </div>
      </section>
      <section
        class="section section-50 section-md-90 section-xl-top-120 section-xl-bottom-145"
        id="section-start-journey">
        <div class="container">
          <div
            class="row row-40 row-md-60 align-items-lg-end justify-content-lg-center">
            <div
              class="col-md-10 col-lg-5 wow fadeInLeftSmall"
              data-wow-duration="1s"
              data-wow-offset="200">
              <h2 class="text-red-orange">Most Flexible</h2>
              <p class="h3">Bootstrap template</p>
              <p class="text-secondary">
                Created by the industry leaders, Starbis Bootstrap template
                includes a comprehensive set of tools which are super easy to
                pick up and run. This template gives you a huge leg up to create
                your own beautiful site using powerful options & tools,
                unlimited designs, and responsive framework.
              </p>
              
            </div>
            <div class="col-md-11 col-lg-7">
              <div class="image-group">
                <figure
                  class="wow fadeInRightSmall"
                  data-wow-duration=".9s"
                  data-wow-delay=".0s"
                  data-wow-offset="80">
                  <!-- <img
                    src='{% static "images/Nanaheal.png" %}'
                    alt=""
                    width="243"
                    height="199" /> -->
                </figure>
                <figure
                  class="wow fadeInRightSmall"
                  data-wow-duration=".9s"
                  data-wow-delay=".2s"
                  data-wow-offset="200">
                  <img
                    src='{% static "images/IMG_3031.jpg" %}'
                    alt=""
                    width="508"
                    height="341" />

                </figure>
                <figure
                  class="wow fadeInRightSmall"
                  data-wow-duration=".9s"
                  data-wow-delay=".4s"
                  data-wow-offset="300">
                  <img
                    src='{% static "images/fruits.jpg" %}'
                    alt=""
                    width="689"
                    height="469" />
                </figure>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section
        class="section section-60 section-md-100 bg-accent novi-background">
        <div class="container text-center text-lg-start">
          <div
            class="row row-30 align-items-md-center justify-content-lg-center">
            <div class="col-lg-8 col-xl-7">
              <h3>NanaHeal Enterprises: A Timeless Prosperity
              </h3>
            </div>
            <div class="col-lg-4 col-xl-3">
              <a
                class="button button-xl button-black-outline"
                href="https://www.youtube.com/watch?v=Yq05ycsaSBc&t=1s"
                target="_blank"
                >You tube video</a
              >
            </div>
          </div>
        </div>
      </section>

      
      
      <section
        class="section section-60 section-md-100 novi-background bg-black">
        <div class="row justify-content-md-center">
          <div class="col-md-11 col-lg-10 col-xl-9 text-center">
            <h3>
              <span>OUR <span>IMPACT</span>
            </h3>
        <div class="container">
          <div class="row row-40">
            <div class="col-sm-6 col-md-3">
              <div class="box-counter">
                
                <span
                  class="novi-icon icon icon-md icon-primary material-icons-mood"></span>
                <div class="text-large counter">100</div>
                <h5 class="box-header">Children saved</h5>
              </div>
            </div>
            <div class="col-sm-6 col-md-3">
              <div class="box-counter">
                <span
                  class="novi-icon icon icon-md icon-primary material-icons-mood"></span>
                <div class="text-large counter counter">100</div>
                <h5 class="box-header">happy clients</h5>
              </div>
            </div>
            <div class="col-sm-6 col-md-3">
              <div class="box-counter">
                <span class="novi-icon icon icon-md icon-primary material-icons-mood"></span>

                <div class="text-large counter">100</div>
                <h5 class="box-header">jobs created </h5>
              </div>
            </div>
          </div>
        </div>
      </section>
      
      <section
        class="section section-50 section-md-90 section-xl-120 bg-gray-lighter novi-background">
        <div class="container">
          <div class="text-center">
            <h3>Testimonials</h3>
            <p style="color: white;">
              Customers who have used our product have shared glowing reviews, testifying to its effectiveness and satisfaction.
            </p>
          </div>
          <div class="row row-40 row-lg-60">
            <div class="col-sm-6 col-md-4 col-lg-3">
              <div class="thumbnail thumbnail-variant-1">
                <div class="thumbnail-image">
                  <img
                    src='{% static "images/IMG_3052.jpg" %}'  style="background-size: cover; width: 189px; height: 189px;"
                    alt=""
                    width="189"
                    height="189" />
                  
                </div>
                <div class="thumbnail-caption">
                  <h5 class="header">Samuel Kiarie (Pineapple Vendor)</a></h5>
                  <p >“Since I partnered with nanaHeal, I have been able to achieve a clean working space and earn
                    more income from my business. Asante.” </p>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
              <div class="thumbnail thumbnail-variant-1">
                <div class="thumbnail-image">
                  <img
                    src='{% static "images/IMG_3052.jpg" %}'  style="background-size: cover; width: 189px; height: 189px;"
                    alt=""
                    width="189"
                    height="189" />
                  
                </div>
                <div class="thumbnail-caption">
                  <h5 class="header">Daniel (Farmer)</a></h5>
                  <p>“My cows love the nanaHeal animal feed and the milk production has increased. I can now grow
                    vegetables in my garden and harvest high yields using your fertilizers.”</p>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
              <div class="thumbnail thumbnail-variant-1">
                <div class="thumbnail-image">
                  <img
                    src='{% static "images/IMG_3052.jpg" %}'  style="background-size: cover; width: 189px; height: 189px;"
                    alt=""
                    width="189"
                    height="189" />
                  
                </div>
                <div class="thumbnail-caption">
                  <h5 class="header">Vincent (Anthropologist)</a></h5>
                  <p>“This is what we call a revolution. Agriculture is becoming the future with you.” MISIGO
                    ”</p>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
              <div class="thumbnail thumbnail-variant-1">
                <div class="thumbnail-image">
                  <img
                    src='{% static "images/IMG_3052.jpg" %}'  style="background-size: cover; width: 189px; height: 189px;"
                    alt=""
                    width="189"
                    height="189" />
                  
                    
                </div>
                <div class="thumbnail-caption">
                  <h5 class="header">Onyango Vincent (Civil Engineer)</a></h5>
                  <p>“Creativity beyond limits. I love the Beer. It smells good and is very sweet. My evening is full of
                    love and serenity. Thank You.”</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section
        class="parallax-container bg-black" 
        data-parallax-img='{% static "images/IMG_3052.jpg" %}'  style="background-size: cover; width: 100%; height: 626px; ">
        <div class="dim-overlay" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.5);"></div>
        <div class="parallax-content">
          <div class="section-60 section-md-90 section-xl-120">
            <div class="container text-center">
              <h3>Call To Action</h3>
              <div class="row justify-content-lg-center">
                <div class="col-lg-11 col-xl-9">
                  <div class="owl-carousel-inverse">
                    <div
                      class="owl-carousel owl-nav-position-numbering"
                      data-items="1"
                      data-stage-padding="0"
                      data-loop="false"
                      data-margin="30"
                      data-nav="true"
                      data-numbering="#owl-numbering-1"
                      data-animation-in="fadeIn"
                      data-animation-out="fadeOut"
                      style = "margin-bottom:10px">
                      <div class="item">
                        <blockquote class="quote-minimal quote-minimal-inverse">
                          <div class="quote-body">
                            <p>
                              <q
                                >Join us today in building sustainable cities
                                and communities by supporting our movement and
                                activities. Help us make our vision of healthy
                                communities and nourished children a REALITY.
                                Together we are creating jobs for the youths and
                                ensuring food security by boosting crop and
                                animal production in the world</q
                              >
                            </p>
                          </div>
                          
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section id = 'contact'
        class="section section-40 section-md-top-75 section-md-bottom-60 bg-cod-gray novi-background">
        <div class="container text-center text-md-start">
          <div
            class="row row-30 align-items-md-center justify-content-lg-center justify-content-xl-start">
            <div class="col-lg-11 col-xl-3">
                <img
                  src='{% static "images/Nanaheal.png" %}'  style="background-size: cover; width:139px; height:100px;"
                  alt=""
                  width="139"
                  height="22"
              /></a>
            </div>
            <div class="col-md-7 col-lg-6 col-xl-5">
              <div class="wrap-justify">
                <address class="contact-info text-start">
                  <div
                    class="unit unit-horizontal unit-spacing-xs align-items-center justify-content-center unit-sm-left">
                    <div class="unit-left">
                      <span
                        class="novi-icon icon icon-md-custom icon-gunsmoke material-icons-place" style="color: white;"></span>
                    </div>
                    <div class="unit-body fw-light">
                      <a class="link-light-03 d-inline" href="https://maps.app.goo.gl/7F92akeon1oAZtpG8"
                        >Mount Kenya University<br />Thika</a
                      >
                    </div>
                  </div>
                </address>
                <address class="contact-info text-start">
                  <div
                    class="unit unit-horizontal unit-spacing-xs align-items-center justify-content-center unit-sm-left">
                    <div class="unit-left">
                      <span
                        class="novi-icon icon icon-md-custom icon-gunsmoke material-icons-phone" style="color: white;"></span>
                    </div>
                    <div class="unit-body fw-light">
                      <div class="link-wrap">
                        <a class="link-light-03" 
                          >+254113999391</a
                        >
                      </div>
                      <div class="link-wrap">
                        <a class="link-light-03"
                          >ogotoes@demolink.org</a
                        >
                      </div>
                    </div>
                  </div>
                </address>
              </div>
            </div>
            <div class="col-md-5 col-xl-4 text-lg-center">
              <ul class="list-inline list-inline-xs">
                <li>
                  <a
                    class="novi-icon icon icon-sm-custom link-tundora fa-facebook"
                    href="https://www.facebook.com/profile.php?id=61558134805053"></a>
                </li>
                <li>
                  <a
                    class="novi-icon icon icon-sm-custom link-tundora fa-twitter"
                    href="#"></a>
                </li>
                
                <li>
                  <a
                    class="novi-icon icon icon-sm-custom link-tundora fa-linkedin"
                    href="www.linkedin.com/in/
                    "></a>
                </li>
                
                <li>
                  <a
                    class="novi-icon icon icon-sm-custom link-tundora fa-youtube"
                    href="https://www.youtube.com/watch?v=Yq05ycsaSBc&t=1s"></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>
      <footer
        class="page-foot page-foot-default section-35 bg-black novi-background text-center">
        <div class="container">
          <p class="rights small">
            <span>Nanaheal</span><span>&nbsp;&#169;&nbsp;</span
            ><span class="copyright-year"></span
            ><span>All Rights Reserved.</span><br class="d-md-none" /><span
              >Created by <a class="link-primary" href="https://www.linkedin.com/in/gladys-aloo">Gladys Aloo.</a></span
            >
          </p>
        </div>
      </footer>
    </div>
    <div class="snackbars" id="form-output-global"></div>
    <script src="static/js/core.min.js"></script>
    <script src="static/js/script.js"></script>
  </body>
</html>
