{% load static %}

<!-- <!DOCTYPE html>
<html>
  <head>
    <title>Pretty flower</title>
    <style>
      .container {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .container > * {
        flex: 1;
      }

      .image {
        max-width: 50%;
      }

      img {
        max-width: 100%;
        max-height: 100%;
      }

      .text {
        font-size: 10px;
        padding-left: 20px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="image">
        <img src='{% static "images/IMG_3052.jpg" %}' />
      </div>
      <div class="text">
        <h1>
          This is a beautiful garden Lorem ipsum dolor, sit amet consectetur
          adipisicing elit. Facere quibusdam, nulla sed incidunt numquam quas
          harum ipsa veritatis dolorem labore iste debitis error. Optio vitae
          corporis dolorem at iusto provident!.loremThis is a beautiful garden
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facere
          quibusdam, nulla sed incidunt numquam quas harum ipsa veritatis
          dolorem labore iste debitis error. Optio vitae corporis dolorem at
          iusto provident!.loremThis is a beautiful garden Lorem ipsum dolor,
          sit amet consectetur adipisicing elit. Facere quibusdam, nulla sed
          incidunt numquam quas harum ipsa veritatis dolorem labore iste debitis
          error. Optio vitae corporis dolorem at iusto provident!.loremThis is a
          beautiful garden Lorem ipsum dolor, sit amet consectetur adipisicing
          elit. Facere quibusdam, nulla sed incidunt numquam quas harum ipsa
          veritatis dolorem labore iste debitis error. Optio vitae corporis
          dolorem at iusto provident!.lorem This is a beautiful garden Lorem
          ipsum dolor, sit amet consectetur adipisicing elit. Facere quibusdam,
          nulla sed incidunt numquam quas harum ipsa veritatis dolorem labore
          iste debitis error. Optio vitae corporis dolorem at iusto
          provident!.loremThis is a beautiful garden Lorem ipsum dolor, sit amet
          consectetur adipisicing elit. Facere quibusdam, nulla sed incidunt
          numquam quas harum ipsa veritatis dolorem labore iste debitis error.
          Optio vitae corporis dolorem at iusto provident!.loremThis is a
          beautiful garden Lorem ipsum dolor, sit amet consectetur adipisicing
          elit. Facere quibusdam, nulla sed incidunt numquam quas harum ipsa
          veritatis dolorem labore iste debitis error. Optio vitae corporis
          dolorem at iusto provident!.loremThis is a beautiful garden Lorem
          ipsum dolor, sit amet consectetur adipisicing elit. Facere quibusdam,
          nulla sed incidunt numquam quas harum ipsa veritatis dolorem labore
          iste debitis error. Optio vitae corporis dolorem at iusto
          provident!.loremThis is a beautiful garden Lorem ipsum dolor, sit amet
          consectetur adipisicing elit. Facere quibusdam, nulla sed incidunt
          numquam quas harum ipsa veritatis
        </h1>
      </div>
    </div>
  </body>
</html>
``` -->

<!-- <!DOCTYPE html>
<html>
  <head>
    <title>Pretty flower</title>
    <style>
      .container {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .container > * {
        flex: 1;
      }

      .image {
        max-width: 50%;
      }

      img {
        max-width: 100%;
        max-height: 100%;
      }

      .text {
        font-size: 10px;
        padding-left: 20px;
      }
    </style>
  </head>
  <body>
    <section id="about">
      <div class="container">
        <div class="image">
          <img src='{% static "images/IMG_3052.jpg" %}' />
        </div>
        <div class="text">
          <h1>
            This is a beautiful garden Lorem ipsum dolor, sit amet consectetur
            adipisicing elit. Facere quibusdam, nulla sed incidunt numquam quas
            harum ipsa veritatis dolorem labore iste debitis error. Optio vitae
            corporis dolorem at iusto provident!.loremThis is a beautiful garden
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facere
            quibusdam, nulla sed incidunt numquam quas harum ipsa veritatis
            dolorem labore iste debitis error. Optio vitae corporis dolorem at
            iusto provident!.loremThis is a beautiful garden Lorem ipsum dolor,
            sit amet consectetur adipisicing elit. Facere quibusdam, nulla sed
            incidunt numquam quas harum ipsa veritatis dolorem labore iste
            debitis error. Optio vitae corporis dolorem at iusto
            provident!.loremThis is a beautiful garden Lorem ipsum dolor, sit
            amet consectetur adipisicing elit. Facere quibusdam, nulla sed
            incidunt numquam quas harum ipsa veritatis dolorem labore iste
            debitis error. Optio vitae corporis dolorem at iusto
            provident!.lorem This is a beautiful garden Lorem ipsum dolor, sit
            amet consectetur adipisicing elit. Facere quibusdam, nulla sed
            incidunt numquam quas harum ipsa veritatis dolorem labore iste
            debitis error. Optio vitae corporis dolorem at iusto
            provident!.loremThis is a beautiful garden Lorem ipsum dolor, sit
            amet consectetur adipisicing elit. Facere quibusdam, nulla sed
            incidunt numquam quas harum ipsa veritatis dolorem labore iste
            debitis error. Optio vitae corporis dolorem at iusto
            provident!.loremThis is a beautiful garden Lorem ipsum dolor, sit
            amet consectetur adipisicing elit. Facere quibusdam, nulla sed
            incidunt numquam quas harum ipsa veritatis dolorem labore iste
            debitis error. Optio vitae corporis dolorem at iusto
            provident!.loremThis is a beautiful garden Lorem ipsum dolor, sit
            amet consectetur adipisicing elit. Facere quibusdam, nulla sed
            incidunt numquam quas harum ipsa veritatis dolorem labore iste
            debitis error. Optio vitae corporis dolorem at iusto
            provident!.loremThis is a beautiful garden Lorem ipsum dolor, sit
            amet consectetur adipisicing elit. Facere quibusdam, nulla sed
            incidunt numquam quas harum ipsa veritatis
          </h1>
        </div>
      </div>
    </section>
  </body>
</html>

<section
  id="about"
  class="parallax-container bg-black"
  data-parallax-img='{% static "images/IMG_3052.jpg" %}'
  style="background-size: cover; width: 1920px; height: 1225px">
  <div
    class="dim-overlay"
    style="
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
    "></div>
  <div class="parallax-content">
    <div
      class="section-50 section-md-75 section-xl-top-100 section-xl-bottom-120">
      <div class="container">
        <div class="row justify-content-md-center">
          <div class="col-md-11 col-lg-10 col-xl-9 text-center">
            <h3>
              <span>About Us</span>
            </h3>
            <p style="color: white">
              Check out an incredible set of features provided by Starbis. We
              collected all common required features in one template. That makes
              it one of the most awesome ones on the market. Starbis allows you
              to take control of almost every element and section of the site.
            </p>
          </div>
        </div>
        <div class="row row-40 row-xl-60 offset-xl-top-60">
          <div class="col-md-6 col-lg-4">
            <article class="icon-box-vertical">
              <span
                class="novi-icon icon icon-primary icon-md material-icons-security"></span>
              <h5 class="icon-box-header">
                <a href="#">Based on Bootstrap 4</a>
              </h5>
              <p style="color: white">
                Starbis is based on the one of the most popular and flexible CSS
                Frameworks - Bootstrap. It gives you confidence in quality and
                flexibility of the product you buy.
              </p>
            </article>
          </div>
          <div class="col-md-6 col-lg-4">
            <article class="icon-box-vertical">
              <span
                class="novi-icon icon icon-primary icon-md material-icons-build"></span>
              <h5 class="icon-box-header">
                <a href="#">Extended Toolkit</a>
              </h5>
              <p style="color: white">
                Starbis provides a powerful and flexible extended toolkit in
                addition to basic Bootstrap. If you’ve used Bootstrap itself,
                you’ll find this all super familiar and easy-to-use.
              </p>
            </article>
          </div>
          <div class="col-md-6 col-lg-4">
            <article class="icon-box-vertical">
              <span
                class="novi-icon icon icon-primary icon-md material-icons-palette"></span>
              <h5 class="icon-box-header">
                <a href="#">Unlimited Skins &amp; Colors</a>
              </h5>
              <p style="color: white">
                Starbis includes a wide variety of skins and colors, from which
                you can easily select what you like to attract the attention of
                your customers to your company.
              </p>
            </article>
          </div>
          <div class="col-md-6 col-lg-4">
            <article class="icon-box-vertical">
              <span
                class="novi-icon icon icon-primary icon-md material-icons-layers"></span>
              <h5 class="icon-box-header">
                <a href="#">Parallax Effects</a>
              </h5>
              <p style="color: white">
                Everyone loves parallax scrolling effects, they are simply
                beautiful. Starbis has advanced parallax options &amp; controls
                based on flexible and easy-to-use RD Parallax plugin.
              </p>
            </article>
          </div>
          <div class="col-md-6 col-lg-4">
            <article class="icon-box-vertical">
              <span
                class="novi-icon icon icon-primary icon-md material-icons-device_hub"></span>
              <h5 class="icon-box-header">
                <a href="#">Social Integration</a>
              </h5>
              <p style="color: white">
                Starbis has full set of social icons and styling options which
                allow you to share any content the way you want.
              </p>
            </article>
          </div>
          <div class="col-md-6 col-lg-4">
            <article class="icon-box-vertical">
              <span
                class="novi-icon icon icon-primary icon-md material-icons-directions_run"></span>
              <h5 class="icon-box-header">
                <a href="#">Made for Speed</a>
              </h5>
              <p style="color: white">
                We know how embarrassing and time-consuming content loading can
                be, so we took care of pages optimization for your smooth
                experience.
              </p>
            </article>
          </div>
        </div>
        <div class="row offset-xl-top-60"></div>
      </div>
    </div>
  </div>
</section> -->

<head>
  <title>Home</title>
  <meta charset="utf-8" />
  <meta
    name="viewport"
    content="width=device-width, height=device-height, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <link
    rel="icon"
    href='{% static "images/favicon.ico" %}'
    type="image/x-icon" />
  <link
    rel="stylesheet"
    type="text/css"
    href="//fonts.googleapis.com/css?family=Montserrat:400,700%7CLato:300,300italic,400,400italic,700,900%7CPlayfair+Display:700italic,900" />
  <link rel="stylesheet" href='{% static "css/bootstrap.css" %}' />
  <link rel="stylesheet" href='{% static "css/fonts.css" %}' />
  <link rel="stylesheet" href='{% static "css/style.css" %}' />
</head>
<body>
  <nav
    class="rd-navbar rd-navbar-default"
    data-layout="rd-navbar-fixed"
    data-sm-layout="rd-navbar-fixed"
    data-md-layout="rd-navbar-fixed"
    data-md-device-layout="rd-navbar-fixed"
    data-lg-layout="rd-navbar-static"
    data-lg-device-layout="rd-navbar-fixed"
    data-xl-layout="rd-navbar-static"
    data-xl-device-layout="rd-navbar-static"
    data-xxl-layout="rd-navbar-static"
    data-xxl-device-layout="rd-navbar-static"
    data-lg-stick-up="true"
    data-xl-stick-up="true"
    data-xxl-stick-up="true"
    data-lg-stick-up-offset="60px"
    data-xl-stick-up-offset="60px"
    data-xxl-stick-up-offset="60px">
    <div class="rd-navbar-inner">
      <div class="rd-navbar-panel">
        <button
          class="rd-navbar-toggle"
          data-custom-toggle=".rd-navbar-nav-wrap"
          data-custom-toggle-disable-on-blur="true">
          <span></span>
        </button>
      </div>
      <div class="rd-navbar-group rd-navbar-search-wrap">
        <div class="rd-navbar-nav-wrap">
          <div class="rd-navbar-nav-inner">
            <div class="rd-navbar-search">
              <form
                class="rd-search"
                action="#"
                method="GET"
                data-search-live="rd-search-results-live">
                <div class="form-wrap">
                  <label class="form-label" for="rd-search-form-input"
                    >Search...</label
                  >
                  <input
                    class="form-input"
                    id="rd-search-form-input"
                    type="text"
                    name="s"
                    autocomplete="off" />
                  <div
                    class="rd-search-results-live"
                    id="rd-search-results-live"></div>
                </div>
                <button class="rd-search-submit" type="submit"></button>
              </form>
            </div>
            <ul class="rd-navbar-nav">
              <li class="rd-nav-item active">
                <a class="rd-nav-link" href="/">Home</a>
              </li>
              <li class="rd-nav-item">
                <a class="rd-nav-link" href="#about">About us</a>
              </li>

              <li class="rd-nav-item">
                <a class="rd-nav-link" href="#contact">Contact us</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>
</body>
