{% load static %}

<!-- <!DOCTYPE html>
<html>
  <head>
    <title>Pretty flower</title>
    <style>
      .container {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .container > * {
        flex: 1;
      }

      .image {
        max-width: 50%;
      }

      img {
        max-width: 100%;
        max-height: 100%;
      }

      .text {
        font-size: 10px;
        padding-left: 20px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="image">
        <img src='{% static "images/IMG_3052.jpg" %}' />
      </div>
      <div class="text">
        <h1>
          This is a beautiful garden Lorem ipsum dolor, sit amet consectetur
          adipisicing elit. Facere quibusdam, nulla sed incidunt numquam quas
          harum ipsa veritatis dolorem labore iste debitis error. Optio vitae
          corporis dolorem at iusto provident!.loremThis is a beautiful garden
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facere
          quibusdam, nulla sed incidunt numquam quas harum ipsa veritatis
          dolorem labore iste debitis error. Optio vitae corporis dolorem at
          iusto provident!.loremThis is a beautiful garden Lorem ipsum dolor,
          sit amet consectetur adipisicing elit. Facere quibusdam, nulla sed
          incidunt numquam quas harum ipsa veritatis dolorem labore iste debitis
          error. Optio vitae corporis dolorem at iusto provident!.loremThis is a
          beautiful garden Lorem ipsum dolor, sit amet consectetur adipisicing
          elit. Facere quibusdam, nulla sed incidunt numquam quas harum ipsa
          veritatis dolorem labore iste debitis error. Optio vitae corporis
          dolorem at iusto provident!.lorem This is a beautiful garden Lorem
          ipsum dolor, sit amet consectetur adipisicing elit. Facere quibusdam,
          nulla sed incidunt numquam quas harum ipsa veritatis dolorem labore
          iste debitis error. Optio vitae corporis dolorem at iusto
          provident!.loremThis is a beautiful garden Lorem ipsum dolor, sit amet
          consectetur adipisicing elit. Facere quibusdam, nulla sed incidunt
          numquam quas harum ipsa veritatis dolorem labore iste debitis error.
          Optio vitae corporis dolorem at iusto provident!.loremThis is a
          beautiful garden Lorem ipsum dolor, sit amet consectetur adipisicing
          elit. Facere quibusdam, nulla sed incidunt numquam quas harum ipsa
          veritatis dolorem labore iste debitis error. Optio vitae corporis
          dolorem at iusto provident!.loremThis is a beautiful garden Lorem
          ipsum dolor, sit amet consectetur adipisicing elit. Facere quibusdam,
          nulla sed incidunt numquam quas harum ipsa veritatis dolorem labore
          iste debitis error. Optio vitae corporis dolorem at iusto
          provident!.loremThis is a beautiful garden Lorem ipsum dolor, sit amet
          consectetur adipisicing elit. Facere quibusdam, nulla sed incidunt
          numquam quas harum ipsa veritatis
        </h1>
      </div>
    </div>
  </body>
</html>
``` -->

<head>
  <title>Home</title>
  <meta charset="utf-8" />
  <meta
    name="viewport"
    content="width=device-width, height=device-height, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <link
    rel="icon"
    href='{% static "images/favicon.ico" %}'
    type="image/x-icon" />
  <link
    rel="stylesheet"
    type="text/css"
    href="//fonts.googleapis.com/css?family=Montserrat:400,700%7CLato:300,300italic,400,400italic,700,900%7CPlayfair+Display:700italic,900" />
  <link rel="stylesheet" href='{% static "css/bootstrap.css" %}' />
  <link rel="stylesheet" href='{% static "css/fonts.css" %}' />
  <link rel="stylesheet" href='{% static "css/style.css" %}' />
</head>
<body>
  <nav
    class="rd-navbar rd-navbar-default"
    data-layout="rd-navbar-fixed"
    data-sm-layout="rd-navbar-fixed"
    data-md-layout="rd-navbar-fixed"
    data-md-device-layout="rd-navbar-fixed"
    data-lg-layout="rd-navbar-static"
    data-lg-device-layout="rd-navbar-fixed"
    data-xl-layout="rd-navbar-static"
    data-xl-device-layout="rd-navbar-static"
    data-xxl-layout="rd-navbar-static"
    data-xxl-device-layout="rd-navbar-static"
    data-lg-stick-up="true"
    data-xl-stick-up="true"
    data-xxl-stick-up="true"
    data-lg-stick-up-offset="60px"
    data-xl-stick-up-offset="60px"
    data-xxl-stick-up-offset="60px">
    <div class="rd-navbar-inner">
      <div class="rd-navbar-panel">
        <button
          class="rd-navbar-toggle"
          data-custom-toggle=".rd-navbar-nav-wrap"
          data-custom-toggle-disable-on-blur="true">
          <span></span>
        </button>
      </div>
      <div class="rd-navbar-group rd-navbar-search-wrap">
        <div class="rd-navbar-nav-wrap">
          <div class="rd-navbar-nav-inner">
            <div class="rd-navbar-search">
              <form
                class="rd-search"
                action="#"
                method="GET"
                data-search-live="rd-search-results-live">
                <div class="form-wrap">
                  <label class="form-label" for="rd-search-form-input"
                    >Search...</label
                  >
                  <input
                    class="form-input"
                    id="rd-search-form-input"
                    type="text"
                    name="s"
                    autocomplete="off" />
                  <div
                    class="rd-search-results-live"
                    id="rd-search-results-live"></div>
                </div>
                <button class="rd-search-submit" type="submit"></button>
              </form>
            </div>
            <ul class="rd-navbar-nav">
              <li class="rd-nav-item active">
                <a class="rd-nav-link" href="/">Home</a>
              </li>
              <li class="rd-nav-item">
                <a class="rd-nav-link" href="#about">About us</a>
              </li>

              <li class="rd-nav-item">
                <a class="rd-nav-link" href="#contact">Contact us</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>
</body>
